<nav class="navbar navbar-expand-lg bg-black py-3 fixed-top ">
    <div class="container">
        <div class="d-flex navLogo " routerLink="home">
            <img src="assets/images/logo.png" alt="" class="logoImage">
            <a class="navbar-brand fs-3 fw-bold text-white">Netflix</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fs-5 fw-bold  px-3 h" routerLink="home" routerLinkActive="color">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 fw-bold  px-3 h" routerLink="tvhome" routerLinkActive="color">Shows</a>
                </li>

            </ul>

        </div>
    </div>
</nav>