
<app-slider></app-slider>
<div class="py-5">
    <div class="mt-5 d-flex justify-content-center gap-md-5 gap-1">
        <a class="fs-3 text-decoration-none " routerLink="popular" routerLinkActive="color">Popular Movies</a>
        <a class="fs-3 text-decoration-none " routerLink="toprated" routerLinkActive="color">Top Rated Movies</a>
    </div>
</div>
<!-- <div class="w-50 mx-auto my-5">
    <input  type="text" class="w-100 form-control" placeholder="Search by title">
</div> -->


<router-outlet></router-outlet>
